<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tribute web page for the popular game No Man's Sky">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
    <main id="main">
      <h1 id="title"><%= title %></h1>
      <div id="img-div">
        <a href="https://www.polygon.com/2018/5/17/17366886/no-mans-sky-multiplayer-next-update-release-date-xbox-one">
          <img id="image" src="https://www.psu.com/app/uploads/2018/03/no-mans-sky-next-768x538.jpg" alt="Cover art for No Man's Sky"/>
        </a>
        <p id="img-caption" class="vertical-margins">No Man’s Sky is a game about exploration and survival in an infinite procedurally generated galaxy.</p>
      </div>
      <div id="tribute-info" class="vertical-margins">
        <div id="tribute-detail">
          <p><a href="https://nomanssky.gamepedia.com/No_Man%27s_Sky" target="_blank">No Man's Sky</a> is a <a href="https://nomanssky.gamepedia.com/Procedural_generation" target="_blank">procedural</a> science fiction exploration and survival game developed by English developer Hello Games out of Guildford, UK.</p>
          <br>
          <p>Hello Games is best known for their Joe Danger series, and brought their unique development style to No Man's Sky.</p>
          <br>
          <p>The game features planetary exploration, deep oceans, space-based battles, predators and prey, and much more across various procedurally-generated worlds.</p>
          <br>
          <p>Each world has its own ecosystems, rewards, and dangers, leading the player through the <a href="https://nomanssky.gamepedia.com/Player_roles" target="_blank">four core pillars</a> of the game: Explore, Fight, Trade, and Survive.</p>
          <br>
          <p>The game launched on 9 August 2016 in NA on PlayStation 4, 10 August in EU on PlayStation 4, and worldwide on 12 August on PC. The launch for Xbox took place on 24 July, 2018.</p>
          <br>
          <p></p>
          <br>
          <p></p>
        </div>
        <div id="tribute-video" class="vertical-margins">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/7icS_69Ub6Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <h3 class="vertical-margins">
          If you have time, you should read more about this amazing game on this
          <a id="tribute-link" href="https://en.wikipedia.org/wiki/No_Man%27s_Sky" target="_blank">Wikipedia entry</a>.
        </h3>
        <small class="vertical-margins">Information was gathered from <a href="https://nomanssky.gamepedia.com/No_Man%27s_Sky_Wiki">GamesPedia</a></small>
      </div>
    </main>
  </body>
</html>
