@font-face {
  font-family: 'geonms';
  src: url(../font/geonms-font.ttf);
}
* {
  padding: 0;
  margin: 0;
}
html, body {
  font-family: 'geonms', 'Open Sans', sans-serif;
  text-align: center;
  min-width: 260px;
  padding: 0 8px;
  color: #ffffff;
}
h1 {
  font-size: 38px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
  font-weight: 800;
}
p {
  font-size: 18px;
}
a {
  color: #be4f3d;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#main {
  margin: 30px auto;
  padding: 15px;
  border: 0px solid;
  border-radius: 5px;
  background-color: #041318;
}
#img-div {
  width: 100%;
  padding: 20px;
}
#image {
  height: auto;
  width: auto;
  border-radius: 5%;
  object-fit: cover;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
  display: block;
}
#img-caption {
  font-style: italic;
  font-size: 13px;
}
.vertical-margins {
  margin: 20px 0;
}
#tribute-video {
  margin: 30px 0;
  /* padding: 15px;
  border: 10px solid #ffffff;
  border-radius: 5px; */
}
